body{
	margin: 0 auto;
}
#content {
	background-color: #eeffa8;
}
nav {
	background-color: #9CF79C;
}
div#main {
	background-color: #9CA8F7;
}
header {
	background-color: #F7818C;
}
footer {
	background-color: #9CF3F7;
}
